@model IEnumerable<mhcapstone.Models.Surveys>

@{
    ViewData["Title"] = "Index";
}

<h1>Created Surveys</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Where(a => a.UserID == (String)ViewData["userID"]))
        {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)

                
            </td>
           
            <td>
                <a asp-controller="Surveys" asp-action="SurveyResults" asp-route-id="@item.ID">
                    @Html.DisplayFor(modelItem => item.Title)

                </a>

            </td>
            <td>
            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
        </td>
            
        </tr>
        }

    </tbody>
</table>

<h1>All Surveys</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Where(a => a.UserID != (String)ViewData["userID"]))
        {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-controller="SurveyInfoes" asp-action="Questions" asp-route-id="@item.ID">
                    @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>
            <td>
                <a asp-controller="SurveyInfoes" asp-action="QuestionsAnswered" asp-route-id="@item.ID">
                    Results
                </a>
            </td>
        </tr>
        }

    </tbody>
</table>


