@model IEnumerable<SurveyCapstone.Models.Response>

@{
    ViewData["Title"] = "Results";
}

<h1>Results</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Survey.Name)
            </th>
            <th>
                Taken On
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Survey.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            
            <td>
                @Html.ActionLink("Answers", "Results","Answers", new { user = item.UserID,id = @item.SurveyId })

                @*<a asp-controller="Answers" asp-action="Results" asp-route-id="@item.UserID">Answers</a>*@
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
